$spriteVersion : 1;

$colorTextLight : #fff;
$colorTextDark : #303d4e;
$colorTextGrey : #656f85;
$colorTextRed : #ea212d;
$colorTextForm : #65708c;
$colorHeaderDark : #4b586b;
$colorBackMain : #fff;
$colorBackNav : #f5f5f5;
$colorBackFoot : #171717;
